
h1 {
    font-family: 'Roboto', sans-serif;
    color: #007bff; 
    animation-duration: 1s;
}


.table {
    font-size: 1rem;
    text-align: center;
    animation-duration: 1s;
}


.table th, .table td {
    vertical-align: middle;
    animation-duration: 1s;
}


.table-bordered {
    border: 1px solid #ddd;
}


.table tbody tr:hover {
    background-color: #f8f9fa;
    transform: translateY(-5px);
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
    transform: scale(1.05);
}


.table tbody tr td {
    opacity: 0;
    animation: fadeInUp 1s forwards;
}


.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #4e555b;
    transform: scale(1.05);
}

.btn-secondary {
    animation: bounce 1s infinite;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

